:root {
  --text-color-primary: #151515;
  --text-color-secondary: #0098FB;
  --text-color-secondary-sub: #77C2F2;
  --text-color-third: #5FD98E;
  --text-color-third-sub: #6ACA78;
  --text-color-fourth: #151515;

  --border-radius: 30px;
}