@import "normalize.css/normalize.css";
@import "vars";

html, body {
  padding: 1rem;
  font-size: 1vw;
  font-family: Ubuntu, serif;
  font-weight: 400;
  background-color: #F6F9FB;
}

* {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

a {
  cursor: pointer;
}

body {
  max-width: 1400px;
  margin: auto;
}

#root {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.play-button {
  border-radius: 50% !important;
  padding: 0.5rem !important;
}

.section-header {
  font-size: 2vw;
}

p:not(.section-header) {
  font-weight: 100;
  line-height: 30px;
}

section:not(.footer) {
  min-height: 659px;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 50% !important;
  right: 0 !important;
  left: unset !important;
}

.swiper-pagination-bullet {
  width: 40px !important;
  border-radius: 10px !important;
  height: 5px !important;
}

.swiper-pagination-bullet-active {
  background-color: #5FD98E !important;
}

@media screen and (max-width: 575px) {
  br:first-child {
    display: none;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 100% !important;
    bottom: 0 !important;
  }

  section {
    min-height: fit-content !important;
    padding: 3rem 1rem
  }

  ul {
    li {
      font-size: 4vw !important;
      height: fit-content !important;
      padding-left: 16px !important;
    }
  }

  & .section-header {
    font-size: 6vw !important;
    text-align: center !important;
    width: 90%;
    margin: 25px auto !important;
  }

  p, h6, span {
    font-size: 4vw !important;
    text-align: center;
  }

  p:not(.section-header) {
    line-height: 24px;
  }

  button, input {
    font-size: 4vw !important;
  }

  div, input, button {
    width: 100% !important;
  }
}

.MuiDialog-paper {
  border-radius: var(--border-radius) !important;
  height: fit-content;
}

.MuiDialogTitle-root {
  text-align: center;
  background-color: #F1F7FA;

  .section-header {
    margin: .3rem;
    font-size: 1.5vw;

    b {
      font-weight: 400;
    }
  }
}

.MuiDialogContent-root {
  display: flex;
  justify-content: center;

  .dialog-content {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(3, 40px);
    row-gap: 1rem;

    .MuiFormControl-root.MuiTextField-root {
      width: 100%;
      padding-top: 1rem;
    }

    input, button {
      height: 100%;
      width: 100%;
    }
  }
}


@media screen and (max-width: 575px) {
  .MuiDialogContent-root.MuiDialogContent-dividers {
    width: unset !important;
  }
}