.automatisation {
  display: flex;
  border-radius: var(--border-radius);
  background-color: #E6F2F9;
  padding: 1rem;
  column-gap: 1rem;
  height: 669px;

  &__first {
    width: 45%;
    border-radius: var(--border-radius);
    background-color: white;
    padding: 4rem 2rem 0 2rem;
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    p {
      margin: 0;

      &:first-child {
        font-weight: 100;
      }
    }
  }

  &__action-btn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4rem;

    button {
      min-width: unset !important;
    }

    span {
      padding-left: 2rem;
      color: #0098FB;
      font-weight: 500;
    }
  }

  &__second {
    width: 50%;
    border-radius: var(--border-radius);
    background-color: var(--text-color-primary);
    background-image: url("../../public/block.png");
    background-size: cover;
  }
}


@media screen and (max-width: 575px) {
  .automatisation {
    height: unset;
    flex-direction: column;
    row-gap: 1rem;
    width: unset !important;
    padding: .5rem;

    button {
      width: unset !important;
    }

    & > div {
      width: unset !important;

      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__action-btn {
      height: 80px;
      position: unset;

      svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
        width: 30px;
        height: 30px;
      }

      button {
        height: 40px;
        width: 40px !important;
        min-width: unset;
      }

      span {
        padding-left: 35px;
      }
    }

    &__first {
      padding: 2rem .5rem 2rem .5rem;

      p {
        padding-left: 20px;
        width: 100% !important;
        text-align: left !important;

        &.section-header {
          padding-left: 10px;
        }
      }
    }
  }
}
