.comments {
  display: flex;
  height: 669px;

  .breadcrumb {
    background-color: #E5F9ED;
    color: #6ACA78;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    font-weight: 500;
    font-size: .7vw;
  }

  & > div {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    background-color: #E5F9ED;
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  &__first {
    width: 50%;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    background-color: white;
    border-radius: var(--border-radius);
    padding: 1rem;
    background-image: url("../../public/kim.png");
    background-size: cover;
  }

  &__second {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    background-color: white;
    border-radius: var(--border-radius);

    p {
      margin: 0
    }
  ;
  }
}

@media screen and (max-width: 575px) {
  .comments {
    height: unset;

    & > div {
      flex-direction: column;
      row-gap: 2rem;
      width: unset !important;
      padding: 2rem;

      & > div {
        width: unset !important;

        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__second {
      & p:first-child {
        display: none;
      }
    }
  }

}
