.process {
  display: flex;

  & > div {
    background-color: var(--text-color-third);
    width: 100%;
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin: 0;
    column-gap: 1rem;

    li {
      width: 33%;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      background-color: #E5F9ED;
      border-radius: var(--border-radius);
      aspect-ratio: 1 / .85;
      justify-content: space-between;

      span {
        width: fit-content;
        border-radius: 50%;
        padding: .5rem .75rem;
        background-color: var(--text-color-third);
        color: white;
      }

      h6 {
        padding-top: 3rem;
        font-size: 1vw;
        margin: 0;
      }

      p {
        opacity: .7;
        font-size: .8vw;
      }
    }
  }

  &__first {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    background-color: white;
    border-radius: var(--border-radius);
    padding: 4rem;

    .section-header {
      margin-top: 0
    }
  }

  &__second {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;

    background-image: url("../../public/process.png");
    background-size: auto;

    height: 400px;
    align-items: center;
    justify-content: center;

    .MuiOutlinedInput-notchedOutline {
      border-color: white;
    }

    .MuiButtonBase-root {
      color: var(--text-color-third);
      background-color: white;
      padding: .5rem 1rem;
      font-size: .8vw;

      &:hover, &:active {
        color: white;
        background-color: var(--text-color-third-sub);
      }
    }

    .MuiOutlinedInput-root, .MuiOutlinedInput, .MuiInput {
      overflow: hidden;
      background-color: #ffffff20;
      border-color: white;
      color: white;
    }

    p {
      margin: 0;
      color: white;
      text-align: center;

      &:last-child {
        text-align: justify;
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
    }
  }
}

@media screen and (max-width: 575px) {
  .process {
    margin-top: 50px;


    ul {
      padding: .5rem;

      li {
        padding: 2rem 1rem;
      }
    }

    & > div {
      padding: .5rem;
    }

    &__first {
      width: unset !important;
      padding: 0;
    }

    &__second {
      padding: 2rem 0;
      row-gap: .5rem;
      height: unset;
      background-image: url("../../public/proccess-mobile.png");
      background-size: contain;

      > div {
        display: grid;
        grid-template-rows: repeat(3, 52px);
        justify-content: center;

        .MuiFormControl-root.MuiTextField-root {
          width: 75vw !important;
        }

        input, button {
          height: 42px;
        }

        button {
          width: 100% !important;
          border-radius: 5rem;
        }
      }
    }

    &__list {
      flex-direction: column !important;
      row-gap: .5rem;

      li {
        width: 90% !important;
      }

      h6, p {
        text-align: justify !important;
      }
    }
  }
}